try-import %workspace%/user.bazelrc

build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --experimental_strict_java_deps=OFF
build --javacopt="-XepDisableAllChecks"

test --test_output=errors

import .bazelrc-roborio
import .bazelrc-bionic
import .bazelrc-raspbian

# TODO investigate if this is a worthwhile pursuit
import .bazelrc-buildbuddy
