// Copyright (c) FIRST and other WPILib contributors.
// Open Source Software; you can modify and/or share it under the terms of
// the WPILib BSD license file in the root directory of this project.

template <>
struct WPILIB_DLLEXPORT wpi::Protobuf<frc::{{lang_type}}> {
  static google::protobuf::Message* New(google::protobuf::Arena* arena);
  static frc::{{lang_type}} Unpack(const google::protobuf::Message& msg);
  static void Pack(google::protobuf::Message* msg,
                   const frc::{{lang_type}}& value);
};

